* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  text-align: center;
  background-color: #eee;
  color: midnightblue;
  font-size: 20px;
}
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: darkmagenta;
  min-height: 50px;
  max-height: auto;
}
header > * {
  flex: 1 1 auto;
}
.nav-item,
.logo {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
header a {
  margin: 10px;
  color: floralwhite;
  text-decoration: none;
  white-space: nowrap;
}
header a:hover {
  color: darkgray;
  transition: 0.3s;
}
a {
  text-decoration: none;
  color: darkmagenta;
}
a:hover {
  color: fuchsia;
  transition: 0.3s;
}
.container {
  width: 50%;
  margin: auto;
}
.form-control {
  width: 100%;
}
label {
  display: block;
  margin: 2px;
}
.form-group {
  margin-bottom: 15px;
}
.button {
  background-color: midnightblue;
  max-width: fit-content;
  color: floralwhite;
  padding: 5px 20px;
  cursor: pointer;
}
.button:hover {
  background-color: blue;
  transition: 0.3s;
}
footer {
  color: black;
  padding: 20px;
}
@media (max-width: 840px) {
  .container {
    width: 100%;
    padding: 1rem;
  }
}
